/* all components */

$dark-color: #041E19;
$primary-color: #00D073;
$red-color: #912F30;

* {
  color: #041D19;
  box-sizing: border-box;
}

.w-xl-max-content {
  @media screen and (min-width: 1200px) {
    width: max-content !important;
  }

}

@mixin fluid-font($min-size, $max-size, $min-vw: 320px, $max-vw: 1200px) {
  $slope: (
    $max-size - $min-size) / ($max-vw - $min-vw) * 100;
  $intercept: $min-size - $slope * ($min-vw / 100
  );
font-size: clamp(#{$min-size},
  calc(#{$intercept} + #{$slope}vw),
  #{$max-size});
}

.navigation {
  .nav-item {
    .nav-link {
      @include fluid-font(14px, 18px);
    }
  }
}

.button-default,
.button-primary,
.button-dark {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 11px 8px;
  font-size: 14px;
  transition: filter .3s;
  width: max-content;
  text-decoration: none;
  word-break: break-all;

  @media screen and (max-width: 780px) {
    padding: 11px 20px;
  }

  &:hover {
    filter: brightness(.97);
  }
}

.button-dark {
  background: #08312A;
  color: #00D073;
}

.button-primary {
  background-color: #00D073;
  color: #08312A;

  &:disabled {
    background: #E4E4E4;
    color: #909997;
    cursor: default;
    border: 1px solid #B1B1B0;

    &:hover {
      filter: none;
    }
  }
}

.font-22 {
  @include fluid-font(14px, 22px);
}

.button-default {
  border: 2px solid #DDDDDD;
  background: #F3F3F1;
  color: $dark-color;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  height: 100%;

  img {
    width: 100%;
  }

  span {
    display: block;
    background: #00E47B;
    color: $dark-color;
    width: max-content;
    padding: 5px 10px;
    @include fluid-font(12px, 14px);
    ;
    line-height: 19px;
  }

  h4 {
    color: #041E19;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 16px;
    color: $dark-color;
    margin-bottom: 0;
  }

  a {
    margin-top: auto;
  }

  &.border-bottom {
    height: -webkit-fill-available;
    border-bottom: 1px solid #E0DFDB;
    margin-bottom: 28px;
  }

  .image {
    display: block;
    position: relative;
  }

  &.video {
    .image {
      display: block;
      position: relative;

      &::before {
        content: '';
        width: 140px;
        height: 140px;
        display: block;
        background: url('/assets/images/play-icon.png');
        background-size: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &.tag-icon-video {
    .image {
      &::before {
        content: '';
        width: 40px;
        height: 40px;
        display: block;
        background: url('/assets/images/tag-icon-play.png');
        background-size: cover;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  &.tag-icon-download {
    .image {
      &::before {
        content: '';
        width: 40px;
        height: 40px;
        display: block;
        background: url('/assets/images/tag-icon-download.png');
        background-size: cover;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

.slide-content {
  position: relative;

  .card-content {
    margin: 0 5.8px;
  }

  .slick-arrow {
    font-size: 0;
    background: none;
    border: none;
    transition: filter .3s;

    &:hover {
      filter: brightness(.9);
    }

    &::after {
      content: '';
      background-image: url('/assets/images/chevron-vertical.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30%;
      background-color: #00e47a3b;
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 5px;
    }
  }

  .slick-next {
    position: absolute;
    right: -70px;
    top: 20%;

    @media screen and (max-width: 780px) {
      right: 0;
    }

    &::after {
      transform: rotate(180deg);
    }
  }

  .slick-prev {
    position: absolute;
    left: -70px;
    top: 20%;
    z-index: 99;

    @media screen and (max-width: 780px) {
      left: 0;
    }
  }

  .slick-dots {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;

    li {
      button {
        border: none;
        background: $dark-color;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        font-size: 0;
      }

      &.slick-active {
        button {
          background: $primary-color;
        }
      }
    }
  }
}

#featuredContent {
  padding-top: 42px;
  padding-bottom: 29px;
  background: #F4F3F1;

  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #08312A;
    margin-bottom: 41px;
    line-height: 32px;
  }
}

.breadcrumb-info {
  background: #041d19;
  color: #0ae37b;
  padding: 30px 0;
  border-top: 2px solid #37584F;
  border-bottom: 2px solid #37584F;

  p {
    color: #0ae37b;
    @include fluid-font(16px, 18px);
    ;
    font-weight: bold;
  }
}

.hero-breadcrumb {
  background: #08312A;
  padding: 25px 0;

  a {
    color: #fff;
    @include fluid-font(14px, 18px);
    ;
    text-decoration: none;
    transition: filter .3s;

    &:hover {
      filter: brightness(.9);
    }
  }

  h3 {
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    margin: 0;
  }

  p {
    color: $primary-color;
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    margin: 0;

    &::before {
      content: '|';
      margin: 0 .3em;
    }
  }

  @media screen and (max-width: 780px) {

    h3,
    p {
      font-size: 20px;
    }
  }
}

.card-event {
  display: flex;
  align-items: center;
  padding: 23px 20px;
  gap: 20px;
  background: $primary-color;
  border-radius: 5px;
  text-decoration: none;
  color: $dark-color;
  transition: filter .3s;
  border: 1px solid #8A8A8A;
  height: 100%;

  &:hover {
    color: $dark-color;
    filter: brightness(.96);
  }

  h2 {
    @include fluid-font(28px, 42px);
    font-weight: bold;
    line-height: 22px;
  }

  span {
    @include fluid-font(14px, 18px);
    ;
    line-height: 22px;
  }

  img {
    width: 100%;
    max-width: 130px;
    height: 100%;
    max-height: 134px;
    object-fit: contain;
  }
}

.accordion {
  margin-bottom: 2em;

  @media screen and (min-width: 1200px) {
    padding-right: 1rem;
    margin-bottom: 0;
  }

  .accordion-body {
    padding-top: 0;
    padding-bottom: 0;
  }

  .accordion-button {
    background: $dark-color;
    color: $primary-color;
    font-size: 18px;

    &::after {
      content: '';
      width: 16px;
      height: 16px;
      background: url('/assets/images/arrow-left.png');
      background-size: contain;
      display: block;
    }

    &:not(.collapsed) {
      &::after {
        transform: rotate(90deg);
      }
    }

    &.no-icon {
      &::after {
        display: none;
      }
    }
  }

  .checkbox-filter {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    align-items: center;

    &:hover {
      filter: brightness(.9);
    }

    input {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }

    label,
    a {
      font-size: 16px;
      line-height: 21px;
      flex: 1;
      cursor: pointer;
      text-decoration: none;
      color: #041D19;
      display: flex;
      align-items: center;
      padding: 10px 0;

      &.disabled {
        color: #b3bbba;
      }

      &.active {
        font-weight: bold;
      }
    }
  }

  .accordion-item {
    border: none;
  }
}

.timeline {
  margin-bottom: 2em;
  overflow: hidden;

  @media screen and (min-width: 780px) {
    padding-left: 4rem;
    margin: 0;
  }

  .timeline-item {
    cursor: pointer;
    transition: filter .3s;

    &:hover {
      filter: brightness(.9);
    }

    &:first-child {
      margin-top: 0 !important;
    }

    &:last-child {
      &::before {
        display: none;
      }
    }

    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
    margin-top: 20px;

    &::before {
      content: '';
      position: absolute;
      width: 3px;
      height: 180%;
      background: repeating-linear-gradient(to bottom,
          #707070 0,
          #707070 3px,
          #fff 2px,
          #fff 7px);
      top: 50%;
      left: 14.5px;
      font-size: 28px;
      color: #707070;
    }

    .timeline-status {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: #E0E0E0;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 32px;
    }

    &.checked {
      .timeline-status {
        background-size: 40%;
        background-color: #00D073;
        border: 1px solid #707070;

        &::after {
          content: '';
          background-image: url('/assets/images/check-icon.png');
          background-repeat: no-repeat;
          background-size: contain;
          width: 18.82px;
          height: 13.69px;
          display: block;
        }
      }

      .timeline-text {
        color: $dark-color;
      }
    }

    &.video {
      .timeline-status {
        background-size: 40%;
        background-color: #08312A;
        border: 1px solid #00D073;
        padding-left: 3.5px;

        &::after {
          content: '';
          background-image: url('/assets/images/play-icon-2.png');
          background-repeat: no-repeat;
          background-size: contain;
          width: 13.59px;
          height: 15px;
          display: block;
        }
      }

      .timeline-text {
        color: $dark-color;
      }
    }

    &.error {
      .timeline-status {
        background-size: 40%;
        background-color: #9A1616;
        border: 1px solid #410A0A;
        padding-left: 0.3px;

        &::after {
          content: '';
          background-image: url('/assets/images/error-icon.png');
          background-repeat: no-repeat;
          background-size: contain;
          width: 13.24px;
          height: 15.34px;
          display: block;
        }
      }

      .timeline-text {
        color: $dark-color;
      }
    }

    .timeline-text {
      font-size: 14px;
      color: #949d9b;
      line-height: 19px;
    }

    &.current {
      .timeline-text {
        font-weight: bold;
      }
    }
  }


}