/* cursos e eventos / conteúdos complementares */

* {
  color: #041D19;
}

#events {
  padding: 38px 0;

  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #08312A;
    margin-bottom: 41px;
    line-height: 32px;
  }
}

#cursosEEventosPage {
  padding: 40px 0;
  background: #F4F3F1;
}

#content {
  padding: 38px 0;
  background-color: #F4F3F1;

  h1 {
    margin: 0;
    max-width: 938px;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    margin-right: 2em;
  }

  .video-content {
    .video-info {
      display: flex;
      gap: 26px;
      margin-top: 40px;

      @media screen and (max-width: 780px) {
        flex-direction: column;
      }

      .info-content {
        display: flex;
        align-items: center;
        gap: 12px;

        img {
          width: 57px;
        }

        p {
          display: flex;
          flex-direction: column;
          font-size: 16px;
          margin: 0;
          line-height: 21px;
        }
      }
    }
  }

  .quiz-content {
    @media screen and (min-width: 1080px) {
      padding-right: 10rem;
    }

    p {
      font-size: 18px;
      color: #041D19;
      line-height: 24px;
      margin: 0;
    }

    span {
      font-size: 14px;
      text-align: right;
      width: 100%;
      display: block;
      margin-top: 36px;
    }

    .quiz-answer {
      position: relative;

      input {
        -webkit-appearance: none;
        appearance: none;
        position: absolute;
        top: 50%;
        left: 11px;
        transform: translateY(-44%);
        background: #FFFFFF;
        border: 1px solid #707070;
        margin: 0;
        width: 18px;
        height: 18px;
        border-radius: 50%;
      }

      input:checked {
        background: #00E47B;
        border: none;
      }

      label {
        padding: 16px 40px;
        display: block;
        background: #08312A;
        color: #fff;
        font-size: 15px;
        line-height: 20px;
        margin: 0;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }

  .satisfaction-survey {
    @media screen and (min-width: 1080px) {
      padding-right: 8rem;
    }

    .button-primary {
      margin-left: auto;
    }

    p {
      font-size: 18px;
    }

    .question {

      textarea {
        width: 100%;
        resize: none;
        border-radius: 15px;
        padding: 14px;
        font-size: 18px;
      }

      .question-level {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        .level-item {
          position: relative;

          input {
            -webkit-appearance: none;
            appearance: none;
            border: 1px solid #707070;
            border-radius: 5px;
            width: 137px;
            height: 34px;
            cursor: pointer;
            background: #fff;
          }

          input:checked {
            background: #00E47B;
            border: none;
          }

          label {
            color: #041D19;
            font-size: 14px;
            line-height: 19px;
            position: absolute;
            top: 44%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            cursor: pointer;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}