* {
  color: #041D19;
}

#login {
  padding-top: 32px;
  padding-bottom: 80px;
  background: #F4F3F1;
}

.hero {

  h1 {
    font-size: 24px;
    font-weight: bold;
    color: #08312A;
    line-height: 32px;
  }

  span {
    font-size: 18px;
    font-weight: 400;
    color: #08312A;
    line-height: 24px;
  }

  margin-bottom: 38px;
}

.form-login {
  padding: 39px;
  width: 100%;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  background: #fff;

  @media screen and (max-width: 780px) {
    padding: 48px 20px;
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
    color: #041D19;
    line-height: 24px;
  }

  a {
    font-size: 14px;
    color: #08312A;
    line-height: 19px;
  }

  .input-form {
    display: flex;
    flex-direction: column;

    label {
      font-size: 14px;
      color: #041D19;
      line-height: 19px;
      margin-bottom: 2px;
    }

    input {
      border: 2px solid #DDDDDD;
      border-radius: 5px;
      font-size: 14px;
      padding: 10px;
      color: #041D19;

      &.invalid {
        outline: 2px solid #912F30;

        &::placeholder {
          color: #912F30;
        }
      }
    }
  }

  span {
    font-size: 12px;
    line-height: 16px;
  }
}

.card-bordered-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 31px 20px;
  padding-top: 24px;
  width: 100%;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  height: 100%;
  background: #fff;

  img {
    width: 79px;
  }

  p {
    text-align: center;
    margin: 0;
    margin-top: 23px;
    font-size: 16px;
    line-height: 21px;
  }
}