* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 50px 0;
  background: #08312A;
  border-top: 2px solid #37584F;
  border-bottom: 2px solid #37584F;
}

.navbar .navbar-nav {
  gap: 40px;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  width: 100%;
  max-width: 260px;
}
.nav-item .nav-link {
  font-size: 22px;
  color: #FBFBFB;
  padding: 0 !important;
  transition: filter .3s;
}

.nav-item .nav-link:hover {
  filter: brightness(.8);
}

.navbar .button-submit {
  max-width: 36px;
  padding: 0;
  outline: none;
}

.navbar .button-submit img {
  width: 100%;
}

.navbar input {
  background: #00D073;
  border: none;
  outline: none;
  color: #08312A;
  padding: 7px 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 22px;
}

.navbar input::placeholder {
  color: #08312A;
}

.navbar form {
  gap: 42px;
}


.site-nav {
  width: 100%;
  padding: 21px 0;
  background: #08312A;
}

.site-nav a {
  color: #FBFBFB;
  font-size: 18px;
  text-decoration: none;
  transition: filter .3s;
}

.site-nav a:hover {
  filter: brightness(.8);
}

#headBanner {
  background: #002d25;
  color: #ffffff;
}

#headBanner .banner {
  padding-top: 159px;
  padding-bottom: 163px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#headBanner h1 {
  font-size: 50px;
  color: #ffffff;
  line-height: 60px;
  margin-bottom: 24px;
}

#headBanner p {
  font-size: 26px;
  color: #FAF9F8;
  margin: 0;
  line-height: 36px;
}

#headBanner .breadcrumb-info {
  background: #041d19;
  color: #0ae37b;
  padding: 50px 0;
}

#headBanner .breadcrumb-info p {
  color: #0ae37b;
  font-size: 24px;
  line-height: 32px;
}

#navigation {
  background: #faf9f8;
  padding: 94px 0;
}

#avc {
  background: #faf9f8;
}

#avc h1 {
  margin-bottom: 64px;
  font-size: 45px;
  font-weight: normal;
  color: #08312a;
  line-height: 40px;
}

.card-navigation {
  background: #fff;
  border: 1px solid #8a8a8a;
  padding: 0 20px;
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-navigation img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.card-navigation h5 {
  font-size: 56px;
  color: #08312a;
  margin-top: 40px;
  text-align: center;
  line-height: 40px;
}

.card-navigation a {
  position: relative;
  display: block;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 30px;
  color: #08312a;
  text-decoration: none;
  margin-top: 34px;
  background: #00d073;
  font-size: 28px;
  line-height: 37px;
  transition: filter .3s;
}

.card-navigation a:hover {
  filter: brightness(.93);
}

.card-title {
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}
.card-title p {
  font-size: 40px;
  text-align: center;
  margin: 0;
  line-height: 36px;
}

.card-title span {
  font-size: 28px;
  text-align: center;
  display: block;
  line-height: 36px;
  margin: 0;
}

.card {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
  background: none;
  justify-content: space-between;
  gap: 0;
}

.card .card-box {
  border: 1px solid #8a8a8a;
  background: #efeeeb;
  overflow: hidden;
  width: 100%;
  position: relative;
  flex: 2;
}

.card .card-box .image-float {
  margin-bottom: -32px;
}

.card .card-box img {
  width: 100%;
}

.card .card-box p {
  width: 100%;
  margin: 0;
  margin-top: 71px;
  font-size: 36px;
  color: #08312A;
  text-align: center;
  line-height: 36px;
}

.card .card-box span {
  display: block;
  text-align: center;
  font-size: 26px;
  color: #08312A;
  line-height: 36px;
  margin-top: 36px;
}

.card-info .card-info-content {
  display: flex;
  gap: 26px;
}

.card-info .card-info-content .dot {
  padding: 20px;
  height: max-content;
}

.card-info .card-info-content p {
  padding: 48px 0;
  color: #faf9f8;
  font-size: 36px;
  text-align: center;
  line-height: 45px;
}

.card-info.card-bg-dark-green {
  background: #08312a;
}

.card-info.card-bg-dark-green .card-info-content .dot {
  background: #00d073;
}

.card-info.card-bg-green {
  background: #00D073;
}

.card-info.card-bg-green .card-info-content .dot {
  background: #08312A;
}

#avc .card-box {
  padding: 67px 35px;
}

#avc .card-info {
  margin-top: 103px;
}

#avc .associations {
  padding: 90px 0;
}

#avc .associations h1 {
  font-size: 45px;
  line-height: 50px;
  color: #08312a;
  font-weight: normal;
  margin-bottom: 66px;
  max-width: 878px;
}

#infarto {
  background: #08312A;
  padding-top: 40px;
}

#infarto .content-1 h1 {
  color: #00D073;
  font-size: 56px;
  line-height: 60px;
  font-weight: normal;
  margin: 0;
}

#infarto .content-1 h5 {
  color: #fff;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  margin-bottom: 88px;
}

#infarto .content-1 img {
  width: 100%;
}

#infarto .content-1 p {
  font-size: 28px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  margin-top: 43px;
}

#infarto .card-info {
  margin-top: 104px;
}

#dpoc {
  padding-top: 76px;
}

#dpoc h1 {
  font-size: 45px;
  color: #08312A;
  font-weight: normal;
  line-height: 60px;
}

#dpoc h5 {
  font-size: 40px;
  color: #08312A;
  font-weight: normal;
  line-height: 60px;
  text-decoration: underline;
  text-decoration-color: #00D073;
  margin-bottom: 90px;
}

#dpoc .card .card-box {
  padding: 0 35px;
  padding-top: 55px;
  padding-bottom: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dpoc .card .card-box .span {
  display: flex;
  align-items: center;
  height: 100%;
}

#dpoc .content-2 {
  margin-top: 87px;
}

#dpoc .content-2 h1 {
  margin-bottom: 83px;
}

#dpoc .content-2 .card-cause {
  width: 100%;
  height: 298px;
  background: #d9f8ea;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#dpoc .content-2 .card-cause img {
  width: 100%;
  max-width: 121px;
}

#dpoc .content-2 span {
  margin-top: 13px;
  display: block;
  text-align: center;
  font-size: 26px;
  line-height: 36px;
  color: #08312A;
}

#dpoc .content-3 {
  margin-top: 115px;
  background: linear-gradient(90deg, #FAF9F8 50%, #08312A 50%);
}


#dpoc .content-3 .info-1 {
  background: #FAF9F8;
  padding: 121px 0;
  padding-right: 27px;
  font-size: 36px;
  line-height: 45px;
  color: #191919;
  width: 50%;
}

#dpoc .content-3 .card-info {
  width: 50%;
}

#dpoc .card-info-content p {
  padding-top: 121px;
  padding-left: 55px;
  padding-bottom: 69px;
  margin: 0;
}

#abracarAVida {
  background: #E5E3DE;
  padding-top: 75px;
  padding-bottom: 50px;
}

#abracarAVida .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#abracarAVida img {
  width: 100%;
  max-width: 427px;
  margin-bottom: 27px;
}

#abracarAVida p {
  margin-bottom: 74px;
  font-size: 36px;
  line-height: 45px;
  color: #191919;
  text-align: center;
}

#abracarAVida a {
  text-decoration: none;
  display: block;
  position: relative;
  width: max-content;
  padding: 15px 54px;
  background: #00D073;
  color: #08312A;
  font-size: 28px;
  line-height: 37px;
  transition: filter .3s;
}

#abracarAVida a:hover {
  filter: brightness(.93);
}

#referencias {
  padding-top: 63px;
  padding-bottom: 49px;
}

#referencias h3 {
  text-align: center;
  color: #191919;
  font-size: 36px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 45px;
}

#referencias span {
  display: block;
  text-align: center;
  color: #191919;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
}

footer {
  background: #142A25;
  padding: 83px 0;
  padding-bottom: 128px;
}

footer img {
  width: 100%;
  max-width: 186px;
}

footer a {
  text-decoration: none;
  color: #FBFBFB;
  font-size: 22px;
  line-height: 30px;
}

footer a:hover {
  color: #FBFBFB;
  filter: brightness(.8);
}

footer span {
  font-size: 14px;
  color: #FBFBFB;
  margin-top: 53px;
  line-height: 19px;
  display: block;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .navbar-brand img {
    width: 100%;
    max-width: 160px;
  }

  #headBanner .banner {
    padding-top: 70px;
    padding-bottom: 80px;
    background-size: cover;
  }

  #headBanner h1 {
    font-size: 40px;
  }

  #avc h1 {
    text-align: center;
  }

  .card .card-box, .card-title {
    flex: none;
  }

  .card-info .card-info-content {
    flex-direction: column;
  }

  .card-info .card-info-content .dot {
    width: max-content;
  }

  .card-info .card-info-content p {
    padding: 0;
    padding-bottom: 48px;
  }

  #dpoc .content-3 {
    background: linear-gradient(180deg, #FAF9F8 44.78%, #08312A 44.78%);
  }
  
  #dpoc .content-3 .info-1 {
      width: 100%;
      padding-right: 0;
  }

  #dpoc .content-3 .card-info {
    width: 100%;
  }

  #dpoc .content-3 .card-info .card-info-content {
    flex-direction: column-reverse;
  }

  #dpoc .card-info-content p {
    padding-top: 10px;
    padding-left: 55px;
    padding-bottom: 69px;
    margin: 0;
  }

  #abracarAVida img {
    max-width: 227px;
  }
}

