* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 27px 0;
  background: #08312A;
  border-top: 2px solid #37584F;
  border-bottom: 2px solid #37584F;
}

.navbar .navbar-nav {
  gap: 40px;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  width: 100%;
  max-width: 156px;
}

.nav-item .nav-link {
  font-size: 18px;
  color: #FBFBFB;
  padding: 0 !important;
  transition: filter .3s;
}

.nav-item .nav-link:hover {
  filter: brightness(.8);
}

.navbar .button-submit {
  max-width: 36px;
  padding: 0;
  outline: none;
}

.navbar .button-submit img {
  width: 100%;
}

.navbar input {
  background: #00D073;
  border: none;
  outline: none;
  color: #08312A;
  padding: 7px 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 22px;
}

.navbar input::placeholder {
  color: #08312A;
}

.navbar form {
  gap: 42px;
}


.site-nav {
  width: 100%;
  padding: 21px 0;
  background: #08312A;
}

.site-nav a {
  color: #FBFBFB;
  font-size: 14px;
  text-decoration: none;
  transition: filter .3s;
}

.site-nav a:hover {
  filter: brightness(.8);
}

.dropdown-toggle {
  display: flex;
  align-items: center;
}

.dropdown-toggle::after {
  border: 0 !important;
  width: 20px;
  height: 12px;
  background-image: url('../images/chevron-down.png');
  background-size: cover;
  background-position: center;
  margin-left: 16px;
}

.dropdown-primary {
  color: #01E37B !important;
}

.dropdown-primary b {
  color: #01E37B !important;
}

.dropdown-primary::after {
  background-image: url('../images/chevron-down-green.png');
}

#headBanner {
  background: #002d25;
  color: #ffffff;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

#headBanner .banner {
  padding-top: 40px;
  padding-bottom: 82px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

#headBanner h1 {
  font-size: 28px;
  color: #ffffff;
  line-height: 37px;
  margin-bottom: 24px;
  font-weight: bold;
}

#headBanner p {
  font-size: 20px;
  color: #FAF9F8;
  margin: 0;
  line-height: 27px;
}

#headBanner .breadcrumb-info {
  background: #041d19;
  color: #0ae37b;
  padding: 50px 0;
  border-top: 2px solid #37584F;
  border-bottom: 2px solid #37584F;
}

#headBanner .breadcrumb-info p {
  color: #0ae37b;
  font-size: 24px;
  line-height: 32px;
}

#navigation {
  background: #faf9f8;
  padding: 94px 0;
}

#avc {
  background: #fff;
}

#avc h1 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #08312a;
  line-height: 37px;
}

.card-navigation {
  background: #fff;
  border: 1px solid #8a8a8a;
  padding: 0 20px;
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-navigation img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.card-navigation h5 {
  font-size: 56px;
  color: #08312a;
  margin-top: 40px;
  text-align: center;
  line-height: 40px;
}

.card-navigation a {
  position: relative;
  display: block;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 30px;
  color: #08312a;
  text-decoration: none;
  margin-top: 34px;
  background: #00d073;
  font-size: 28px;
  line-height: 37px;
  transition: filter .3s;
}

.card-navigation a:hover {
  filter: brightness(.93);
}

.card-title {
  margin-left: auto;
  margin-right: auto;
  flex: 1;
  margin-bottom: 15px;
  padding: 0 28px;
}

.card-title p {
  font-size: 24px;
  text-align: center;
  margin: 0;
  line-height: 29px;
}

.card-title span {
  font-size: 18px;
  text-align: center;
  display: block;
  line-height: 29px;
  margin: 0;
}

.card {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
  background: none;
  justify-content: space-between;
  gap: 0;
  background: #efeeeb;
  border: 1px solid #8a8a8a;
  padding-top: 13px;
}

.card .card-box {
  overflow: hidden;
  width: 100%;
  position: relative;
  flex: 2;
}

.card .card-box .image-float {
  margin-bottom: -32px;
}

.card .card-box img {
  width: 100%;
}

.card .card-box p {
  width: 100%;
  margin: 0;
  margin-top: 48px;
  font-size: 18px;
  color: #08312A;
  text-align: center;
  line-height: 29px;
}

.card .card-box span {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #08312A;
  line-height: 28px;
  margin-top: 19px;
}

.card-info .card-info-content {
  display: flex;
  gap: 26px;
}

.card-info .card-info-content .dot {
  padding: 14px;
  height: max-content;
}

.card-info .card-info-content p {
  padding: 40px 0;
  color: #faf9f8;
  font-size: 22px;
  text-align: center;
  line-height: 32px;
  max-width: 1094px;
}

.card-info .card-info-content b {
  color: #faf9f8;
}

.card-info.card-bg-dark-green {
  background: #08312a;
}

.card-info.card-bg-dark-green .card-info-content .dot {
  background: #00d073;
}

.card-info.card-bg-green {
  background: #00D073;
}

.card-info.card-bg-green .card-info-content .dot {
  background: #08312A;
}

#avc .card-box {
  padding: 28px;
  padding-top: 0;
}

#avc .card-info {
  margin-top: 40px;
}

#avc .associations {
  padding: 34px 0;
  padding-bottom: 80px;
}

#avc .associations h1 {
  font-size: 28px;
  line-height: 37px;
  color: #08312a;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

#infarto {
  background: #08312A;
  padding-top: 40px;
}

#infarto .content-1 h1 {
  color: #00D073;
  font-size: 28px;
  line-height: 49px;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

#infarto .content-1 h5 {
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  font-weight: normal;
  margin-bottom: 40px;
  text-align: center;
}

#infarto .content-1 img {
  width: 100%;
}

#infarto .content-1 p {
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  margin-top: 19px;
}

#infarto .card-info {
  margin-top: 51px;
}

#dpoc {
  padding-top: 76px;
  background: #F4F3F1;
}

#dpoc h1 {
  font-size: 28px;
  color: #08312A;
  font-weight: bold;
  line-height: 37px;
  text-align: center;
}

#dpoc h5 {
  font-size: 22px;
  color: #08312A;
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 41px;
  text-align: center;
}

#dpoc .card .card-box {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dpoc .card .card-box .span {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 18px;
  line-height: 28px;
}

#dpoc .content-2 {
  margin-top: 40px;
}

#dpoc .content-2 h1 {
  margin-bottom: 44px;
  font-size: 28px;
  line-height: 37px;
}

#dpoc .content-2 .card-cause {
  width: 180px;
  height: 180px;
  background: #d9f8ea;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
}

#dpoc .content-2 .card-cause img {
  width: 100%;
  max-width: 116px;
}

#dpoc .content-2 span {
  margin-top: 10px;
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  color: #08312A;
}

#dpoc .content-3 {
  margin: 0 auto;
  margin-top: 41px;
  background: linear-gradient(90deg, #Fff 50%, #08312A 50%);
}


#dpoc .content-3 .info-1 {
  background: #fff;
  padding: 40px 0;
  font-size: 22px;
  line-height: 32px;
  padding-right: 127px;
  color: #191919;
  height: 100%;
}

#dpoc .card-info-content p {
  padding-top: 40px;
  padding-left: 55px;
  margin: 0;
}

#dpoc .card-info-content sup {
  color: #faf9f8;
}

#abracarAVida {
  background: #E5E3DE;
  padding: 40px 0;
}

#abracarAVida .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#abracarAVida img {
  width: 100%;
  max-width: 284px;
  margin-bottom: 40px;
}

#abracarAVida p {
  margin-bottom: 42px;
  font-size: 22px;
  line-height: 32px;
  color: #191919;
  text-align: center;
}

#abracarAVida a:hover {
  filter: brightness(.93);
}

#referencias {
  padding-top: 42px;
  padding-bottom: 70px;
}

#referencias h3 {
  text-align: center;
  color: #191919;
  font-size: 28px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 45px;
}

#referencias span {
  display: block;
  text-align: center;
  color: #191919;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

footer {
  background: #142A25;
  padding: 80px 0;
}

footer img {
  width: 100%;
  max-width: 139px;
}

footer a {
  text-decoration: none;
  color: #FBFBFB;
  font-size: 14px;
  line-height: 19px;
}

footer a:hover {
  color: #FBFBFB;
  filter: brightness(.8);
}

footer span {
  font-size: 12px;
  color: #FBFBFB;
  margin-top: 57px;
  line-height: 16px;
  display: block;
  text-align: center;
}

@media screen and (max-width: 720px) {

  .card .card-box,
  .card-title {
    flex: none;
  }

  .card-info .card-info-content {
    flex-direction: column;
  }

  .card-info .card-info-content .dot {
    width: max-content;
  }

  .card-info .card-info-content p {
    padding: 0;
    padding-bottom: 48px;
  }

  #dpoc .content-3 {
    background: none;
  }

  #dpoc .content-3 .info-1 {
    width: 100%;
    padding-left: 55px;
    padding-right: 30px;
  }

  #dpoc .content-3 .card-info {
    width: 100%;
  }

  #dpoc .content-3 .card-info .card-info-content {
    flex-direction: column-reverse;
  }

  #dpoc .card-info-content p {
    padding-top: 10px;
    padding-left: 55px;
    padding-bottom: 69px;
    margin: 0;
  }

  #abracarAVida img {
    max-width: 227px;
  }
}